<div class="container">
<h2>Edit Project {{projectName}}</h2>

    <b>Researcher: </b>
    <div class="form-horizontal" style="display: flex;">
            <!--<input disabled ng-if="muestraValida == false" class="form-control" ng-model="updatedProject.researcher" />-->
            <!-- <input ng-if="muestraValida == true" class="form-control" ng-model="updatedProject.researcherName" />-->
             <input disabled ng-if="updatedProject.researcher.includes('https://')" class="form-control" ng-model="updatedProject.researcher"/>
             <input ng-if="!updatedProject.researcher.includes('https://')" class="form-control" ng-model="updatedProject.researcher"/>
             <!--<input ng-disabled="muestraValida == false" class="form-control" ng-model="updatedProject.researcherName" />-->
         <div ng-if="muestraValida == true">
            <button class="btn btn-success" ng-click="validateProject()">Validate</button>
        </div>
        <div ng-if="muestraValida == false">
            <button class="btn btn-warning" ng-click="changeProject()">Change</button>
        </div>
    </div>
    <br/>
    <b>Name: </b><input class="form-control" ng-model="updatedProject.name" />
    <br/>
    <b>Type: </b><input class="form-control" ng-model="updatedProject.type" />
    <br/>
    <b>Start Date: </b><input class="form-control" ng-model="updatedProject.startDate" />
    <br/>
    <b>End Date: </b><input class="form-control" ng-model="updatedProject.endDate" />
    <br/>
    <b>Researchers: </b><input class="form-control" ng-model="updatedProject.researchers" />
    <br/>
    <b>Keywords: </b><input class="form-control" ng-model="updatedProject.keywords" />
  
    <br/>
    <div style="
    color: red;
    font-weight: bold;">
        {{error}}
        
    </div>
    <button class="btn btn-primary" ng-click="updateProject()">Update</button>
</div>