    <h2>Projects</h2>
  <!-- <input class="form-control" id="searchInput" type="text" placeholder="Search for all fields...">-->
  <!--<br>-->
    <table id="listProjectsTable" class="table">
        <thead>
            <tr>
                <th>Reference</th>
                <th>Researcher</th>
                <th>Name</th>
                <th>Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Researchers</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
           
            <tr ng-repeat="project in projects">
                <td><a href="#!/project/{{project.idProject}}">{{project.idProject}}</a></td>
                <td>{{project.researcher}}</td>
                <td>{{project.name}}</td>
                <td>{{project.type}}</td>
                <td>{{project.startDate}}</td>
                <td>{{project.endDate}}</td>
                <!--<td>{{project.researchers}}</td>-->
               <td><span ng-repeat="researcher in project.researchers">{{researcher}}</br></span></td>
                <td>
                    <button class="btn btn-danger" ng-click="deleteProject(project.idProject)">Delete</button>
                </td>
            </tr>
        </tbody>
       
    </table>
    <br/>
    <button class="btn btn-success" onclick="location.href='#!/create';">Create project</button>
 