    <h2 style="display: inline;">Projects</h2> 
    <div class"search" style="float: right;">
        <input ng-model="tosearch.search" />
        <button type="button" style="background: transparent;border: 0;" ng-click="searchProjects()">
          <span class="glyphicon glyphicon-search"></span>
        </button>
    </div>
  <!-- <input class="form-control" id="searchInput" type="text" placeholder="Search for all fields...">-->
  <!--<br>-->
   <div class="table-responsive">
    <table class="table table-condensed table-hover" cellspacing="0">
        <thead>
            <tr>
                <th>Reference</th>
                <th>Researcher</th>
                <th>Name</th>
                <th>Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Researchers</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
           
            <tr ng-repeat="project in projects">
                <td><a href="#!/project/{{project.idProject}}">{{project.idProject}}</a></td>
                <td ng-if="project.researcher.includes('https://')">{{project.researcherName}}</td>
                <td ng-if="!project.researcher.includes('https://')">{{project.researcher}}</td>
                <td>{{project.name}}</td>
                <td>{{project.type}}</td>
                <td>{{project.startDate}}</td>
                <td>{{project.endDate}}</td>
               
               <td>
                   <div  ng-repeat="researchers in project.researchers track by $index">{{researchers}}</div>
               </td>
               <!--<td>{{project.keywords}}</td>-->
                <td>
                    <button class="btn btn-danger" ng-click="deleteProject(project.idProject)">Delete</button>
                </td>
            </tr>
        </tbody>
       
    </table>
    </div>
    <br/>
    <div style="
    color: red;
    font-weight: bold;">
        {{error}}
        
    </div>
    <br/>
    <button class="btn btn-primary" onclick="location.href='#!/create';">Create project</button>
 