<h1>ProjectSearch</h1> 
</br>

    <b>Researcher: </b><input class="form-control" ng-model="search.researcher" />
    <br/>
    <b>Name: </b><input class="form-control" ng-model="search.name" />
    <br/>
    <b>Type: </b><input class="form-control" ng-model="search.type" />
    <br/>
    <b>Start Date: </b><input class="form-control" ng-model="search.startDate" />
    <br/>
    <b>End Date: </b><input class="form-control" ng-model="search.endDate" />
    <br/>
    <b>Researchers: </b><textarea class="form-control" id="researchers" ng-model="search.researchers"
                        rows="3" value="{{search.researchers}}"></textarea>
    <br/>
  <!--  <div class="form-group">-->
  <!--<label class="col-md-4 control-label" for="submit"></label>-->
  <!--<div class="col-md-4">-->
      <td>
                    <button id="submit" name="submit" class="btn btn-primary" ng-click="searchProjects()">Search</button>
                </td>
<!--    <button id="submit" name="submit" class="btn btn-primary" ng-click="searchProjects()">Search</button>-->
<!--  </div>-->
<!--</div>-->
    <br/>
    
    <table id="listProjectsTable" class="table">
        <thead>
            <tr>
                <th>Reference</th>
                <th>Researcher</th>
                <th>Name</th>
                <th>Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Researchers</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
           
            <tr ng-repeat="project in projects">
                <td><a href="#!/project/{{project.idProject}}">{{project.idProject}}</a></td>
                <td>{{project.researcher}}</td>
                <td>{{project.name}}</td>
                <td>{{project.type}}</td>
                <td>{{project.startDate}}</td>
                <td>{{project.endDate}}</td>
                <!--<td>{{project.researchers}}</td>-->
               <td><span ng-repeat="researcher in project.researchers">{{researcher}}</br></span></td>
                <td>
                    <button class="btn btn-danger" ng-click="deleteProject(project.idProject)">Delete</button>
                </td>
            </tr>
        </tbody>
       
    </table>

<!--<div class="form-group">-->
<!--  <label class="col-md-4 control-label">School</label>  -->
<!--  <div class="col-md-4">-->
<!--  <input ng-model="search.school" id="school" name="school" type="text" placeholder="School's name" class="form-control input-md">-->
<!--  </div>-->
<!--</div>-->

<!--<div class="form-group">-->
<!--  <label class="col-md-4 control-label">Phone</label>  -->
<!--  <div class="col-md-4">-->
<!--  <input ng-model="search.tlf" id="tlf" name="tlf" type="text" placeholder="Phone number" class="form-control input-md">-->
<!--  </div>-->
<!--</div>-->

<!--<div class="form-group">-->
<!--  <label class="col-md-4 control-label">Fax</label>  -->
<!--  <div class="col-md-4">-->
<!--  <input ng-model="search.fax" id="fax" name="fax" type="text" placeholder="Fax" class="form-control input-md">-->
<!--  </div>-->
<!--</div>-->

<!--<div class="form-group">-->
<!--  <label class="col-md-4 control-label">Web</label>  -->
<!--  <div class="col-md-4">-->
<!--  <input ng-model="search.web" id="web" name="web" type="text" placeholder="Web" class="form-control input-md">-->
<!--  </div>-->
<!--</div>-->

<!--<div class="form-group">-->
<!--  <label class="col-md-4 control-label">Researcher</label>  -->
<!--  <div class="col-md-4">-->
<!--  <input ng-model="search.researcher" id="researcher" name="researcher" type="text" placeholder="Researcher's name" class="form-control input-md">-->
<!--  </div>-->
<!--</div>-->


<!--<div class="form-group">-->
<!--  <label class="col-md-4 control-label" for="submit"></label>-->
<!--  <div class="col-md-4">-->
<!--    <button class="btn btn-primary" ng-click="searchDepartments()">Search</button>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="form-group">-->
<!--  <label class="col-md-4 control-label" for="submit"></label>-->
<!--  <div class="col-md-4">-->
<!--    <button id="submit" name="submit" class="btn btn-primary">Search</button>-->
<!--  </div>-->
<!--</div>-->





<!--</fieldset>-->
<!--</form>-->

<!--</br></br>-->


<!--<table ng-if="departments.length > 0" class="table table-bordered">-->
<!--        <thead>-->
<!--            <tr>-->
<!--                <th>Department</th>-->
<!--                <th>Address</th>-->
<!--                <th>Phone</th>-->
<!--                <th>Fax</th>-->
<!--                <th>Web</th>-->
<!--                <th></th>-->
<!--            </tr>-->
<!--        </thead>-->
<!--        <tbody>-->

<!--            <tr ng-repeat="department in departments">-->
<!--                <td>{{department.department}}</td>-->
<!--                <td>-->
<!--                    <table>-->
<!--                        <tr ng-repeat="address in department.address">-->
<!--                            <td>{{address.school}}</td>-->
<!--                        </tr>-->
<!--                    </table>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <table>-->
<!--                        <tr ng-repeat="address in department.address">-->
<!--                            <td>{{address.tlf}}</td>-->
<!--                        </tr>-->
<!--                    </table>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <table>-->
<!--                        <tr ng-repeat="address in department.address">-->
<!--                            <td>{{address.fax}}</td>-->
<!--                        </tr>-->
<!--                    </table>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <table>-->
<!--                        <tr ng-repeat="address in department.address">-->
<!--                            <td>{{address.web}}</td>-->
<!--                        </tr>-->
<!--                    </table>-->
<!--                </td>-->

<!--                <td>-->
<!--                    <button class="btn btn-primary glyphicon glyphicon-pencil" ng-click="updateDepartment(department.idDepartment)"></button>-->
<!--                    <button class="btn btn-info glyphicon glyphicon-user" ng-click=""></button>-->
<!--                    <button class="btn btn-danger glyphicon glyphicon-trash" ng-click="deleteDepartment(department.idDepartment)"></button>-->
<!--                </td>-->
<!--            </tr>-->
<!--        </tbody>-->
    
    
<!--    </table>-->